* {
  box-sizing: border-box;
}

.container {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.opsnumscontainer {
  display: flex;
  justify-content: center;
}

.numbers {
  display: flex;
  flex-direction: column;
}

.operators {
  display: flex;
  flex-direction: column;
}

.ops {
  height: 100%;
}